﻿@inject IJSRuntime JSRuntime

<p> <strong>CARD BRICK CONTAINER</strong></p>

<div id="cardPaymentBrick_container">
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initMercadoPago");
        }
    }


}
